* {
	&,
	&:before,
	&:after {
		box-sizing: border-box;
	}
	margin: 0; 
	padding: 0;
}
ul {
	list-style: none;
}
img {
	vertical-align: middle;
}
.wrap {
	padding: 20px 10px;
	h1 {
		padding-left: 10px;
		small {
			color: #aaa;
			display: block;
			font-size: 16px;
			margin-top: 15px;
		}
	}
}
.rotate-img {
	margin-top: 10px;
	width: 100%;
	&:after {
		clear: both;
		content: '';
		display: table;
	}
	.enter {
		float: left;
		padding: 10px;
		position: relative;
		&:after {
			bottom: 9px;
			border: 1px solid #eee;
			border-radius: 7px;
			content: '';
			left: 9px;
			position: absolute;
			right: 9px;
			top: 9px;
			z-index: 0;
		}
	}
	.bar {
		border: 10px solid #fff;
		border-radius: 7px;
		height: 186px;
		overflow: hidden;
		padding: 10px;
		position: relative;
		text-align: center;
		width: 280px;
		z-index: 1;
	}
	.layer {
		background-color: rgba(0, 0, 0, .2);
		border-radius: 5px;
		bottom: 10px;
		cursor: pointer;
		display: none;
		left: 10px;
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 2;
		&.active {
			display: block;
			&.loading {
				&:after {
					animation: whirl 1s infinite linear;
				}
			}
			&:after {
				animation: whirl 3s infinite linear;
			}
		}
		
		&:after {
			background: url("../img/rotating.png") no-repeat;
			-webkit-background-size: 100%;
			background-size: 100%;
			content: '';
			display: block;
			height: 50px;
			left: 50%;
			margin: -25px 0 0 -25px;
			position: absolute;
			top: 50%;
			width: 50px;
			z-index: 3;
		}
		&.loading {
			&:after {
				background-image: url("../img/loading.png");
			}
		}
	}
	.img {
		left: 50%;
		max-height: 166px;
		/*max-width: 280px;*/
		position: absolute;
		top: 50%;
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}
@keyframes whirl {
	0% {
		transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
	}
}